<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}Style/bootstrap-1.3.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}Style/mystyle.css" media="screen" />   
    <script type="text/javascript" src="{{MEDIA_URL}}Scripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}Scripts/script.js"></script>
</head>
<body>
	<div class="topbar">
	<div class="fill">
		<div class="container">
			<h3><a href="{{SUBSITE_URL}}">Picalytics</a></h3>
			<ul>
				<li><a href="{{SUBSITE_URL}}">Home</a></li>
				<li><a href="{{SUBSITE_URL}}my_images/">Create Image</a></li>
				<li><a href="{{SUBSITE_URL}}my_images/list">View Images</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div class="container" id="page">
		{% block content %}{% endblock %}
	</div>

</body>
</html>
