{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block content %}
<div class="row">
<p class="columns span9">A simple website which helps keep track of how often an image is viewed.
Images can be used to track ads on craigslist, emails, or other locations which permit the use of the <strong>&ltimg&gt</strong> tag.
</p>
</div>
<ul class="unstyled img_list">
<li><a href="{{SUBSITE_URL}}my_images">Create Image</a></li>
<li><a href="{{SUBSITE_URL}}my_images/list">View Images</a></li>
</ul>
{% endblock %}