/**********************
**** All Pages *******
***************************/

#page {
	margin-top:30px;
}

/*Let's make the topbar not be fixed cause that's annoying me*/
.topbar {
	position:relative;
}

/* When you hover over a list of ads, make it obvious that you can click on an ad to view details*/
.ad_details {
	cursor:pointer;
}

.img_list a{
	font-size:24px;
	line-height:36px;
}